// 字体
$font-family-base: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,"微软雅黑",Arial,sans-serif;
// 背景颜色
$bg-color: #F8F8F8;
// 主题色
$primary: #3599E9!default;
//选项选中背景
$primary-bg: #FF5244!default;
// 主题字
$primary-font: #1FAFF6!default;
// 主题字
$primary-opacity: 0.4;
// 辅助色
$danger: #EBF9FF!default;
// 上边栏背景
$topbar-bg: #FF6666!default;
// 左边栏背景
$sidebar-bg: #272C44!default;
// 默认的资源存放路径
$iconImgUrl:'../assets/img';
// border color
$border-color: #DEDEDE!default;
// 字体颜色
$font-color: #555;

$red: #FF4343;
// top高度
$top-height: 60px;
$side-width: 156px;
$side-top: 0px;
// $side-top: #{$top-height + 30px};
